@font-face {
  font-family:"STARWARS";
  src:url("STARWARS.woff") format("woff");
  font-weight:normal;
  font-style:normal;}
  
.App {
  text-align: center;
}
body {
  font-family: "roboto", sans-serif;
}

h1 {
  font-family: "STARWARS", sans-serif;
  font-size: 3em;
  letter-spacing: 0.02em;
}

p {
  text-align: left;
  margin-left: 15vw;
  margin-right: 15vw;
}

select, select:focus {
  background-color: rgba(76, 72, 78, .7);
  color:#0C0B0D;
  border-radius: .25em;
  border-color: black;
  font-size: 1.5em;
}

